/* * {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px 250px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr; Dois valores = duas colunas; dividiu a tela em três partes; repeat(5, 2fr) = dividir a tela em 5 partes
    grid-template-rows: 3fr 1fr;
    height: 100vh;
    gap: 20px; /* Forma individual = column-gap: 10px; row-gap: 30px;
}

.grid>*{ /*Bordar aos filhos
    padding: 20px;
    border: 1px solid #000;
    border-radius: 16px;
} */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    grid-area: header;
}

section#produtos {
    grid-area: produtos;
}

section#servicos {
    grid-area: servicos;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publi;
}

footer {
    grid-area: footer;
}

#grade {
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "nav header header"
        "nav produtos publi"
        "nav servicos publi"
        "nav footer footer"; /*Adicionar . ou none deixa um espaço vazio*/
    gap: 20px;
}

#grade>* {
    padding: 20px;
    border: 1px solid #000;
    background: #ffe600;
    border-radius: 15px;
}